@import "variables.css";
:root{
    font-family: 'Open Sans';
    font-size: 18px;
}
*{
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    
}

.grid-container{
    display: grid;
    /* grid-gap: 20px; */
    /* grid-template-rows: repeat(6,1fr); */
}

.top{
    display:grid;
    height: 500px;
    grid-template-columns: repeat(7,1fr);
    background-image: url(../assets/komputery.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.top-left{
    display: grid;
    grid-column: 1/span 4;
    text-align: center;
    justify-content: left;
    max-height: 500px;
    padding-left: 5%;
    align-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
}

.top img{
    position: absolute;
    /* background-image: url(../assets/dog.jpg); */
    width: 17%;
    background-size: cover;
    border-radius: 50%;
    top: 25%;
    left:48.5%;
    
}
.top-left p{
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 15%;
}
.top-left p2{
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 15%;
}
.top-left h1{
    margin: 0;
    font-size: 2rem;
    margin: 0;
    margin-right: 15%;
    
}
.top-left span{
    color: rgb(1, 100, 167);
    font-size: 1.6rem;;
}

.top-right{
    display: grid;
    grid-column: 5/span 3;
    position: relative;
    background-color: rgba(0, 147, 192, 0.85);
    grid-template-rows: 1fr 8fr 1fr 1fr;
    max-height: 500px;
}
.top-right nav{
    margin-top: 10px;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(130px,1fr));      
}
.top-right a{
    text-decoration: none;
}
.top-right .item{
    color: white;
    padding:0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;    
    
}

.top-right .social-media{
    grid-row: 4/span 1;
    display: flex;
    justify-content: flex-end;
    grid-gap: 10px;
    align-items: center;
}
.top-right .social-media .fab{
   
    color: white;
    margin: 10px;  
}
.top-right .social-media .fa-github{
    margin-right: 20px;
}

.top-right .linki-text{
    grid-row: 3/span 1;
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
    
    
    
}

.top-right .linki-text p{
    font-size: 0.7rem;
    padding-left: 20px;
    margin-bottom: 0;
    color: white;
    text-align: left;
    border-bottom: 2px solid white;
    
}

@media (max-width:500px)
{
    .top-right .item{
        font-size: 0.9rem; 
        margin:5px;
           
        
    }
    .top-right nav{
        grid-template-columns: repeat(auto-fit,minmax(110px,1fr));      
    }
    .top-right .social-media{
        grid-gap: 0px;
    }
}
/*///////////////////////////////////////////////////////////////// KONIEC TOP*/

.buttons{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.buttons .text{
    padding: 20px;
    grid-row: 1 / span 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.buttons .two-button-menu{
    grid-row: 2 /span 1;
    display: flex;
    justify-content: center;
    height: 60px;
}

.buttons .two-button-menu a{
    width: 150px;
    padding: 5px;
    margin: 8px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
}

.buttons .two-button-menu .b1{
    background-color: rgb(0, 147, 192);
    border: 2px solid rgb(0, 147, 192);
    
}

.buttons .two-button-menu .b2{
    border: 2px solid rgb(0, 147, 192);
    color: rgb(0, 147, 192);
}

.buttons .two-button-menu .b1:hover{
    background-color: goldenrod;
    border: 2px solid goldenrod;
    color: white;
}

.buttons .two-button-menu .b2:hover{
    border: 2px solid goldenrod;
    color: goldenrod;
}


@media (max-width:500px)
{
    .buttons .two-button-menu a{
        width: 120px;
        font-size: 0.9rem;
        margin-top: 0;
    } 
    .buttons .text{
        font-size: 1.2rem;
        padding: 10px;
    }
    .buttons .two-button-menu a{
        width:100px;
        
    }
    
}

/*//////////////////////////////////////////////////////////////////KONIEC BUTTONS*/

.o_mnie-container{
    display: grid;
    margin: 50px;
    margin-bottom: 10px;
    grid-template-areas: 
    "h h h h h h"
    "n n i i i i"
}

.o_mnie-container .o_mnie-label{
    grid-area: h;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.o_mnie-container .o_mnie-kontakt{
    grid-area: n;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: rgb(0, 147, 192);
    font-weight: bold;
    padding: 20px;
}
.o_mnie-container .o_mnie-kontakt span{
    
    color: black;
}

.o_mnie-container .o_mnie-opis{
    grid-area: i;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-left: 3px solid rgb(0, 147, 192);
}

.o_mnie-container .o_mnie-opis p{
    text-align: justify;
    
}

@media (max-width:500px)
{
    .o_mnie-container{
        display: grid;
        margin: 0px;
        grid-template-areas: 
        "h h "
        "n n "
        "i i "
    }
    .o_mnie-container .o_mnie-opis{
       
        border-left: none;
        border-top: 3px solid rgb(0, 147, 192);
        font-size: 0.9rem;
    }
    .o_mnie-container .o_mnie-kontakt{
        font-size: 0.9rem;
    }
    .o_mnie-container .o_mnie-label{
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.2rem;
    }
}

/*//////////////////////////////////////////////////////////////////KONIEC O MNIE*/

.slider {
    pointer-events: none;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: rgb(0, 147, 192);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }

  .umiejetnosci-container{
      display: grid;
      grid-template-areas: 
      "t t"
      "l r";
      grid-template-columns: 50% 50%;
      margin-top: 50px;
      
  }
  .umiejetnosci-label{
    grid-area: t;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.umiejetnosci-label p{
    font-weight: bold;
    font-size: 2rem;
}

.umiejetnosci-twarde{
    grid-area: l;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 20px;
    background-color: #fff;
    padding: 5%;
}

.umiejetnosci-twarde p,.slider{
    margin: 10px 0px;
}

.umiejetnosci-miekkie{
    grid-area: r;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 50px;
    background-color: #fff;
    padding: 5%;
}

.umiejetnosci-miekkie p,.slider{
    margin: 10px 0px;
}

.umiejetnosci-container .srodek{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 500px)
{
    .umiejetnosci-container{
        display: grid;
        grid-template-areas: 
        "t "
        "l "
        "r";
        grid-template-columns: 100%;
        font-size: 0.9rem;
        margin-top: 10px;
        
    }

    .umiejetnosci-label p{
        font-size: 1.2rem;
    }
    .umiejetnosci-label{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .umiejetnosci-miekkie{
        margin-left: 0px;
        margin-right: 0px;
        background-color: #fff;
        padding: 5%;
        margin-top: 10px;
    }

    .umiejetnosci-twarde{
        margin-left: 0px;
        margin-right: 0px;
        background-color: #fff;
        padding: 5%;
    }
    .umiejetnosci-container .srodek{
        font-size: 0.9rem;
    }
}

  /*//////////////////////////////////////////////////////////////////KONIEC UMIEJETNOSCI*/  

  .portfolio-label{
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 50px;
      margin-bottom: 20px;
      margin-left: 50px;
      margin-right: 50px;
      font-weight: bold;
      font-size: 2rem;
  }


.portfolio-container
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}



.portfolio-container .foto
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #fff;
    flex: 1 0 30%;
    
}


.portfolio-container .foto .link
{
    color:rgb(0, 147, 192);
    margin: 0 10px;  
    
}

.portfolio-container .foto .overlay
{
     position: relative;
}

.portfolio-container .foto .overlay .link
{
     margin: 0;
     position: absolute;
     color: white;
     display: flex;
     justify-content: center;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     background-color: goldenrod;
     opacity: 0;
     transition: all 0.5s ease-in-out;
     align-items: center;
     font-size: 2rem;
}

.portfolio-container .foto .overlay .link:hover
{
    opacity: 0.7;
}

.portfolio-container .foto p
{
    font-weight: bold;
    margin: 0 10px;
    margin-top: 10px;
    
}

.portfolio-container .foto i
{
    margin: 15px 10px;
    color: rgb(155, 153, 153);
}

.portfolio-container .foto img
{
    width:100%;
    height: 100%;
    overflow: hidden;
}



@media (max-width:500px)
{
    .portfolio-container
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .portfolio-container .foto
    {
        margin: 10px 3px;
        flex: 1 0 40%;
        font-size: 0.9rem;
    }

    .portfolio-label
    {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

/*//////////////////////////////////////////////////////////////////KONIEC PORTFOLIO*/  

.kontakt-container{
    display: grid;
    box-sizing: border-box;
    grid-template-areas: 
    "a b b";
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: repeat(auto-fit,minmax(100px,1fr)); */
    margin: 20px 50px;
    background-color: #fff;
    /* min-height: 500px; */
}

.kontakt-container .kontakt-left{
    box-sizing: border-box;
    grid-area: a;
    padding: 2%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 147, 192);
    /* max-height: 500px; */

}

.kontakt-container .kontakt-right{
    grid-area: b;
    padding:2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.kontakt-left p{
    color: white;
    flex: 1;
    font-size: 1.1rem;
}

.kontakt-left .empty-item{
    flex:4;
}

.kontakt-left .bold{
    font-weight: bold;
}

.kontakt-left .social-media{
    flex: 1;
    display: flex;
}

.kontakt-left .social-media .fab{
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.kontakt-left .social-media .fa-facebook-square{
    padding-left: 0px;
}

input[type="text"] {
    width: 80%;
    display: block;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid rgb(0, 147, 192);
    margin-bottom: 20px;
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
    color: black;
    font-family: 'Open Sans';
}

.kontakt-right p{
    align-self: center;
    color: rgb(0, 147, 192);
    font-size: 1.3rem;
    font-weight: bold;
}
#kontakt-wiadomosc{
    margin-top: 20px;
    height: 150px;
    width: 80%;
    border:  1px solid rgb(0, 147, 192);
    color: black;
    font-size: 1rem;
    font-family: 'Open Sans';
    resize: none;
    overflow: auto;
    
}

@media (max-width:1000px) 
{
    .kontakt-container{
        
        grid-template-areas: 
        "a"
        "b";
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 5fr;
        margin: 20px 50px;
        
    }
    .kontakt-left .empty-item{
        flex:0;
    }
    #linia-space{
        margin-bottom: 10px;
    }
    
    
}

@media (max-width:500px)
{
    .kontakt-container{
        margin: 20px 0;
    }
}


