@import "variables.css";
:root{
    font-family: Raleway;
    font-size: 18px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.grid-container{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(6,1fr);
}

.top{
    display:grid;
    height: 450px;
    grid-template-columns: repeat(7,1fr);
    background-image: url(../assets/komputery.jpg);
    background-position: center;
    background-size: cover;
    
}

.top-left{
    display: grid;
    grid-column: 1/span 4;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
}

.top-left p{
    font-weight: bold;
    font-size: 1.5rem;
}
.top-left p2{
    font-weight: bold;
    font-size: 1.2rem;
}
.top-left h1{
    margin: 0;
    font-size: 2.3rem;
    
}
.top-left span{
    color: blue;
    font-size: 1.6rem;;
}

.top-right{
    grid-column: 5/span 3;
    position: relative;
    background-color: rgba(2, 206, 206, 0.95);
}


/*///////////////////////////////////////////////////////////////// KONIEC TOP*/

